@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
}
:root{
  --primary-color: #DB7093;       /* Couleur principale */
  --accent-color: #FFC6E5;        /* Couleur d'accentuation */
  --background-color: #051121;    /* F1F0E8 Couleur de fond */
  --background-color_variant: #FFC0CB;          /* Couleur du texte principal */
  --secondary-text-color: #666666;/* Couleur du texte secondaire */
  --color-light: #afafad;          /* Couleur des liens */
  --color-white: #fff;

  --transition: all 400ms ease;


  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}


html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}
body{
    font-family: 'Poppins', sans-serif;
    background: var(--background-color);
    color: var(--color-white);
    line-height: 1.7;
    background-image: url("../src/assets/images/bg-texture.png");
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 500;
}
h1{
    font-size: 2.5rem;
}
section{
    margin-top: 8rem;
    /* height: 100vh; */
}
section > h2, 
section > h5{
   text-align: center;
   color: var(--color-light);
}
section > h2{
    color: var(--primary-color);
    margin-bottom: 3rem;
}
.text-light{
    color: var(--color-light);
}
a{
    color: var( --primary-color);
    transition: var(--transition);
}
a:hover{
    color: var(--color-white);
}
.btn{
    width: max-content;
    display: inline-block;
    padding: 0.7rem 1.2rem;
    color: var(--primary-color);
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--primary-color);
    transition: var(--transition);
}
.btn:hover{
    background-color: var(--color-white);
    color: var(--background-color);
    border-color: transparent;
}
.btn-primary{
    background-color: var(--primary-color);
    color: var(--background-color);

}
img{
    
    display: block;
    width: 100%;
    object-fit: cover;
}
@media screen and (max-width: 1024px){
    .container{
        width: var(--container-width-md);
    }
    section{
        margin-top: 6rem;
    }
}

@media screen and (max-width: 600px){
    .container{
        width: var(--container-width-sm);
    }
    section > h2{
        margin-bottom: 2rem;
    }
}
    